<!DOCTYPE html>
	<head>
		<title>
			Tedious and Client-sessions
		</title>
	</head>
	<body>
		Tedious and Client-sessions Example
	</body>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</html>
